{% extends 'home/base.html' %}
{% block content %}
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    

    <div class="container">

        <img src="{% static 'images/bgr-imag.jpg' %}" id="background-video" alt="">
  
        <img src="{% static 'images/blood.png' %}" class="blood">
        <img src="{% static 'images/tonhen-Photoroom.png' %}" class="tonhen">

        <div class="login-form">
            <p class="login-title">Register Here</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" placeholder="Email Address" id="email" name="email">
                <input type="text" placeholder="Username" id="username" name="username">
                <input type="text" placeholder="Password" id="password" name="password">
                <input type="text" placeholder="Password again" id="passwordagain" name="password2">

                <button id="registerbutton" type="submit">SIGN ME UP&nbsp;&nbsp;&nbsp;</button>
                <p><a href="{% url 'auth:signin' %}">"Sign In here if you have an account</a></p>
            </form>
        </div>
    </div>
{% endblock content %}
