{% extends "home/base.html" %}
{% comment %} banner start {% endcomment %}
{% block banner %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <div class="banner">
        <img src="{% static 'images/banner/sun-Photoroom.png' %}" alt="" id="mattroi">
        <img src="{% static 'images/banner/mattrang-Photoroom.png' %}" alt="" id="mattrang">
        <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayleft">
        {% comment %} <img src="{% static 'images/banner/dainganha.png' %}" alt="" id="dainganha"> {% endcomment %}
        <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayright">
        <img src="{% static 'images/banner/damco.png' %}" alt="" id="damco">
    </div>
{% endblock banner %}
{% comment %} banner end {% endcomment %}
{% comment %} content start {% endcomment %}
{% block content %}
    {% load static %}
    <script>
        function sendSignup() {
            let email = document.getElementById("email").value;
            let first_name = document.getElementById("first_name").value;
            let last_name = document.getElementById("last_name").value;
    
            fetch("/sending-mail/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ email, first_name, last_name }),
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message || data.error);
            })
            .catch(error => console.error("Error:", error));
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <div class="author">
            <h1 style="font-family: Chez Moustache;">About US</h1>
        </div>
        <div class="books-content">
            <div class="books-content-bkg">
                <img src="{% static 'images/interior_content_left.png' %}" alt="">
                <img src="{% static 'images/interior_content_right.png' %}" alt="">
            </div>
            <div class="introduction">
                <div class="all-box">
                    <div class="box">
                        <img src="{% static 'images/news_feed_header.png' %}" alt="">
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">13</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>WALL STREET JOURNAL REVIEW: MAX IN THE HOUSE OF SPIES</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">05</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>MAX IN THE HOUSE OF SPIES - AN INSTANT NYTIMES BESTSELLER!</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="much-more">
                            <p style="font-family:'Open Sans Condensed', sans-serif;"><b>MUCH MORE</b></p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/events_header.png' %}" alt="">
                        <p style="padding-bottom: 270px;">There are no upcoming events at this time</p>

                    </div>
                    <div class="box">
                        <img src="{% static 'images/newsletter_header.png' %}" alt="">
                        <div class="form-signup">
                            <p>Sign up for Adam's newsletter by entering your info below:</p>
                            <form action="">
                                <input type="text" placeholder="Email Address" id="email"><input type="text" placeholder="First Name" id="first_name"><input type="text" placeholder="Last Name" id="last_name">
                                <button onclick="sendSignup()">SIGN ME UP&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="main-content">
     
            <main class="about">
                <p>
                    I was born in San Francisco in 1982, but moved to Baltimore when I was two and a half. I grew up there, attending a school without very many rules. Somehow, I found a way to break all of them. I spent my entire 
                <img src="{% static 'images/anhdaidien.jpg' %}" style="width: 227px;height:294px" alt="">
                    middle school career in the principal’s office. One day I will write a book and tell you about all of the ways you can be sent to the principal’s office during middle school. Maybe each chapter will be a different way to be sent to the principal’s office. There will be three hundred and forty-five thousand chapters.
                </p>
                <p>
                    I straightened myself out during high school and ended up going to college in New York City. I thought about majoring in religion, and then in philosophy, but ultimately chose English literature, because I think that the deepest truths about life tend to be written in works of fiction. Also, you can’t beat the homework in English: “You’ll like this book! And this one! Try this book, it’s amazing!”
                </p>
                <p>
                    I spent my third year of college in England. I walked around the old university town and ate beef pasties and sat in parks and read John Keats all day long. I only had to go to class twice a week, for an hour at a time. If you’re any good at math, you’ll know that that means I only had to be somewhere for two hours out of every 168. That means I was free to do whatever I wanted 166 out of every 168 hours, or 98.8% of the time. I didn’t realize it then, but it was in that year that I discovered I could be a writer–me, a beef pasty, and my imagination is all I seem to need to be happy. (My wife tells me that this is untrue. I refuse to believe her.)
                </p>
                <p>
                    After graduating, I stayed in New York and took a job in a second grade classroom at Saint Ann’s School, in Brooklyn, while attending Bank Street College of Education in the evenings. So during the days I was telling stories to kids at lunch and recess and story time, and at night I was meeting writers and reading bags full of children’s books and thinking about how it all went together. Eventually, I taught first, second, fifth, and high school at Saint Ann’s. One day, the mother of one of my students saw a play I wrote for the kids involving puppets. She came up to me afterwards and said she was a literary agent. She told me, “That was good,” and I was like, “Uh, what?” But from then on, I knew she might be interested in something I wrote. So when I started writing down the stories I told to my students, I showed them to her–and that’s how A Tale Dark and Grimm was born.
                </p>
                <p>
                    I spent most of 2012 living in France with my wife, who studies monks in the Middle Ages, and we had been traveling to Europe for her research for years. So while publicly I was talking about Grimm’s fairy tales, privately I was touring ruined monasteries, visiting medieval dungeons, and wandering ancient forests. As my wife did her research, I was collecting stories, events, and amazing facts. At first, I collected them for fun, because they were amazing. But soon I started thinking about writing a book. That book became The Inquisitor’s Tale, Or, The Three Magical Children and Their Holy Dog, which would win the Newbery Honor Award in 2017.
                </p>
                <p>
                    After writing a long, ambitious book about medieval history, I decided I wanted to focus on the age group that I had originally taught: elementary school students. So I created The Unicorn Rescue Society, a series about two kids who travel around the world protecting mythical creatures from danger. Each book features a creature from a different global culture. So I teamed up with other awesome authors from the cultures the URS would be visiting to write the books. It has been one of my favorite projects so far… and now there’s even a Unicorn Rescue Society Card Game!
                </p>
                <p>
                    These days, when I’m not at home in Brooklyn, lying on my couch and staring up at the ceiling (which is a crucial part of the writing process), I’m taking my daughter to school, recording new episodes of the Grimm, Grimmer, Grimmest podcast, and visiting schools all over the world. I’m also currently working on adapting the Unicorn Rescue Society and the Grimm books into streaming TV shows. More information on that coming very soon!
                </p>
                <div class="cta">
                    <a href=""> THAT YOU KNOW ALL ABOUT ME</a><br>
                    <p>Ask me a question!</p>
                </div>
                <br>
                <br>
                <br><br>
                <hr>
                <h1 id="title-testimanial">TESTIMONIALS</h1>
                <div class="testimonials">
                    <div class="testimonial">
              
                    </div>
              </div>
            </main>
        </main>
        </div>
    
    </div>
    <div class="footer">
        <div class="footer-image">
            <img src="{% static 'images/footer_left.png' %}" alt=""><img src="{% static 'images/footer_right.png' %}" alt="">
        </div>
        <div class="footer-content">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Books</a></li>
                <li><a href="">Videos & Photos</a></li>
                <li><a href="">Find Us!</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">News & Announcements</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Write To Us</a></li>
            </ul>
            <p><b>©2024 Us Gidwitz | All awesome artwork ©2024 HUGH D’ANDRADE</b></p>
        </div>
    </div>
    <script src="{% static 'js/about.js' %}"></script>

{% endblock content %}
{% comment %} content end {% endcomment %}