<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAM</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ChexMoustacheFont/fontfamily.css' %}">
    <link rel="stylesheet" href="{% static 'css/InheritFont/fontfamily.css' %}">
    <link rel="stylesheet" href="{% static 'css/cloudslide.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    {% comment %} 
    
    {% endcomment %}
</head>
<body>
    
<div id="redirect-background1"></div>
<div id="redirect-background2"></div>
<div class="container">
    {% block banner %}
    
    {% endblock banner %}
   
    <div class="navbar-container">
        <ul class="narbar">
                <div class="menu-dropdown">
                    <li id="navbar-li-menu" ><img src="{% static 'images/arrow_nav.png' %}" alt="">MENU</li>
                    <ul>
                        <li class="title-dropdown-father"><a href="./home.html">HOME</a></li>
                        <li class="title-dropdown-father"><a href="./books.html">BOOKS</a>
                            <ul class="title-dropdown">
                                <li><a href="./bookdetail.html">GRIMM BOOKS</a>
                                    <ul>
                                        <li><a href="./bookdetail.html">A TALE DARK AND GRIMM</a></li>
                                        <li><a href="./bookdetail.html">IN A GLASS GRIMMLY</a></li>
                                        <li><a href="./bookdetail.html">THE GRIMM CONCLUSION</a></li>
                                        <li><a href="./news&announcement.html">REVIEWS</a></li>
                                    </ul>
                                </li>
                                <li><a href="./bookdetail.html">STAR WARS BOOKS</a></li>
                                <li><a href="./bookdetail.html">THE INQUISITOR'S TALE</a>
                                    <ul >
                                        <li><a href="#">REVIEWS</a></li>
                                    </ul>
                                </li>
                                <li><a href="./bookdetail.html">THE UNICORN RESCUE SOCIETY</a></li>
                            </ul>
                        </li>
                        <li class="title-dropdown-father"><a href="./videos&photos.html">VIDEOS & PHOTOS</a>
                            <ul class="title-dropdown">
                                <li><a href="./videos&photos.html">VIDEOS</a></li>
                                <li><a href="./photos.html">PHOTO GALLERY</a></li>
                            </ul>
                        </li>
                        <li class="title-dropdown-father"><a href="./findadam.html">FIND ADAM!</a></li>
                        <li class="title-dropdown-father"><a href="./resources.html">RESOURCES</a>
                            <ul class="title-dropdown">
                                <li><a href="./books-sort.html">GRIMM BOOKS</a></li>
                                <li><a href="./books-sort.html">THE INQUISITOR'S TALE</a></li>
                                <li><a href="./books-sort.html">UNICORN RESCUE SOCIETY</a></li>
                            </ul>
                        </li>
                        <li class="title-dropdown-father"><a href="./news&announcement.html">NEWS & ANNOUNCEMENTS</a></li>
                        <li class="title-dropdown-father"><a href="./about.html">ABOUT ADAM</a></li>
                        <li class="title-dropdown-father"><a href="./writeadam.html">WRITE TO ADAM</a></li>
                    </ul>
                </div>
                <li class="navbar-li active" id="home" ><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'home:home' %}">HOME</a></li>
                <li class="navbar-li" id="books">
                    <img src="{% static 'images/arrow_nav.png' %}" alt="">
                    <a href="{% url 'home:list_books' %}">BOOKS</a>
                    <ul id="navbar-li-ul1">
                        <li><a href="./books-sort.html">GRIMM BOOKS</a></li>
                        <li><a href="">STAR WARS BOOKS</a></li>
                        <li><a href="">THE INQUISITOR’S TALE</a></li>
                        <li><a href="">THE UNICORN RESCUE SOCIETY</a></li>
                    </ul>
                </li>
                <li class="navbar-li" id="videos_photos">
                    <img src="{% static 'images/arrow_nav.png' %}" alt="">
                    <a href="{% url 'home:videos_and_photos' %}">VIDEOS & PHOTOS</a>
                    <ul id="navbar-li-ul2">
                        <li><a href="{% url 'home:videos_and_photos' %}">VIDEOS</a></li>
                        <li><a href="{% url 'home:photos' %}">PHOTO GALLERY</a></li>
                    </ul>
                </li>
                <li class="navbar-li" id="findadam"><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'home:find_adam' %}">FIND ADAM!</a></li>
                <li class="navbar-li" id="resources">
                    <img src="{% static 'images/arrow_nav.png' %}" alt="">
                    <a href="{% url 'home:resources' %}">RESOURCES</a>
                    <ul id="navbar-li-ul3">
                        <li><a href="./books-sort.html">GRIMM BOOKS</a></li>
                        <li><a href="">THE INQUISITOR’S TALE</a></li>
                        <li><a href="">UNICORN RESCUE SOCIETY</a></li>
                    </ul>
                </li>
                <li class="navbar-li" id="news_announcements"><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'home:news_announ' %}">NEWS & ANNOUNCEMENTS</a></li>
                <li class="navbar-li" id="aboutadam"><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'home:about_us' %}">ABOUT ADAM</a></li>
                <li class="navbar-li" id="writetoadam"><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'home:write_adam' %}">WRITE TO ADAM</a></li>
                {% if request.user.is_authenticated %}
                <li class="navbar-li" ><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'auth:signout' %}">LOG OUT-{{request.user.username}}</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li class="navbar-li" id="login"><img src="{% static 'images/arrow_nav.png' %}" alt=""><a href="{% url 'auth:signin' %}">LOG IN</a></li>
                {% endif %}

        </ul>
    </div>
     {% block content %}
        
     {% endblock content %}
 
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/redirect-slide.js' %}"></script>
</body>
</html>