<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAM</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ChexMoustacheFont/fontfamily.css' %}">
    <link rel="stylesheet" href="{% static 'css/InheritFont/fontfamily.css' %}">
    <link rel="stylesheet" href="{% static 'css/cloudslide.css' %}">
    {% comment %} 
    
    {% endcomment %}
</head>
<body>
     {% block content %}
        
     {% endblock content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/redirect-slide.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
    <script src="{% static 'js/detailbook.js' %}"></script>
    <script src="{% static 'js/book.js' %}"></script>
    <script src="{% static 'js/findadam.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/news&announcement.js' %}"></script>
    <script src="{% static 'js/resources.js' %}"></script>
    <script src="{% static 'js/videos&photos.js' %}"></script>
    <script src="{% static 'js/writeadam.js' %}"></script> 


</body>
</html>