{% extends 'home/base.html' %}
{% comment %} banner start {% endcomment %}
{% block banner %}
{% load static %}
<div class="banner" id="bannerofnews">
    <img src="{% static 'images/banner/sun-Photoroom.png' %}" alt="" id="mattroi">
    <img src="{% static 'images/banner/mattrang-Photoroom.png' %}" alt="" id="mattrang">
    <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayleft">
    {% comment %} <img src="{% static 'images/banner/dainganha.png' %}" alt="" id="dainganha"> {% endcomment %}
    <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayright">
    <img src="{% static 'images/banner/damco.png' %}" alt="" id="damco">
</div>
{% endblock banner %}
    {% comment %} banner end {% endcomment %}
    {% comment %} content start {% endcomment %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/news_announcement.css' %}">
        <div class="author">
            <h1 style="font-family: Chez Moustache;">Essays & Articles</h1>
        </div>
        
        <div class="books-content">
            <div class="books-content-bkg">
                <img src="{% static 'images/interior_content_left.png' %}" alt="">
                <img src="{% static 'images/interior_content_right.png' %}" alt="">
            </div>
            <div class="introduction">
                <div class="all-box">
                    <div class="box">
                        <img src="{% static 'images/search_header.png' %}" alt="">
                        <div class="search-input">
                            <input type="text">
                        </div>
                        <div class="search-content">
                            <div>
                                <h2 style="font-family: Chez Moustache;">RECENT POSTS</h2>
                                <li><a href="">Wall Street Journal Review: Max in The House of Spies</a></li>
                                <li><a href="">MAX IN THE HOUSE OF SPIES – An Instant NYTimes Bestseller!</a></li>
                                <li><a href="">SLJ Starred Review: Max in the House of Spies</a></li>
                                <li><a href="">NEW BOOK: Max in the House of Spies Available for Pre-Order now!</a></li>
                                <li><a href="">“Grimm, Grimmer, Grimmest” receives the 2023 Kidscreen Award for Best Kids’ Podcast</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/events_header.png' %}" alt="">
                        <p style="padding-bottom: 270px;">There are no upcoming events at this time</p>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/newsletter_header.png' %}" alt="">
                        <div class="form-signup">
                            <p>Sign up for Adam's newsletter by entering your info below:</p>
                            <form action="">
                                <input type="text" placeholder="Email Address"><input type="text" placeholder="First Name"><input type="text" placeholder="Last Name">
                                <button>SIGN ME UP&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="News">
            <div class="older-entries">
                <a href="#"><i class="bi bi-chevron-double-left"></i> Older Entries</a>
            </div>
        </div>
        <div class="footer">
            <div class="footer-image">
                <img src="{% static 'images/footer_left.png' %}" alt=""><img src="{% static 'images/footer_right.png' %}" alt="">
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="{% static 'home.html' %}">Home</a></li>
                    <li><a href="{% static 'books.html' %}">Books</a></li>
                    <li><a href="{% static 'videos&photos.html' %}">Videos & Photos</a></li>
                    <li><a href="{% static 'findadam.html' %}">Find Adam!</a></li>
                    <li><a href="{% static 'resources.html' %}">Resources</a></li>
                    <li><a href="{% static 'news&announcement.html' %}">News & Announcements</a></li>
                    <li><a href="{% static 'about.html' %}">About Adam</a></li>
                    <li><a href="{% static 'writeadam.html' %}">Write To Adam</a></li>
                </ul>
                <p><b>©2024 Adam Gidwitz | All awesome artwork ©2024 HUGH D’ANDRADE</b></p>
            </div>
        </div>
    </div>
{% endblock content %}
{% comment %} content end {% endcomment %}