<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% load static %}
  <title>CodePen - 3d book (November #CodePenChallenge)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'><link rel="stylesheet" href="{% static 'css/reading_page.css' %}">

</head>
<body>
  {% comment %} <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet"> {% endcomment %}
  <div class="book">
    <div id="pages" class="pages">
      <div class="page" style="background-image: url('{{ book.book_image.url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"><p>{{book.bookname}}<br>{{book.author}}!</p></div>
      {% for page in pages %}
      <div class="page" style="font-size: 0.64vw;align-items: center;text-align: center;">
        <div id="book-contents">
          {{book.bookname}}<br>{{book.author}}<br>
          {{book.chapter}}<br>
          {{ page.content|safe }}
        </div>
        
        <br>
        <h5 id="page-number">{{page.page_number}}</h5>
        
      </div>
      {% endfor %}
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
  </div>
<!-- partial -->
  <script  src="{% static 'js/reading_page.js' %}"></script>

</body>
</html>
