{% extends 'home/base.html' %}
{% block banner %}
    {% load static %}
    <div class="banner">
        <img src="{% static 'images/banner.jpg' %}" alt="" style="width:100vw;">
    </div>
{% endblock banner %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/videos_photos.css' %}">
        <div class="author">
            <h1 style="font-family: Chez Moustache;">VIDEOS</h1>
        </div>
       
        <div class="books-content">
            <div class="books-content-bkg">
                <img src="{% static 'images/interior_content_left.png' %}" alt="">
                <img src="{% static 'images/interior_content_right.png' %}" alt="">
            </div>
            <div class="introduction">
                <div class="all-box">
                    <div class="box">
                        <img src="{% static 'images/news_feed_header.png' %}" alt="">
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">13</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>WALL STREET JOURNAL REVIEW: MAX IN THE HOUSE OF SPIES</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">05</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>MAX IN THE HOUSE OF SPIES - AN INSTANT NYTIMES BESTSELLER!</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="much-more">
                            <p style="font-family:'Open Sans Condensed', sans-serif;"><b>MUCH MORE</b></p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/events_header.png' %}" alt="">
                        <p style="padding-bottom: 270px;">There are no upcoming events at this time</p>

                    </div>
                    <div class="box">
                        <img src="{% static 'images/newsletter_header.png' %}" alt="">
                        <div class="form-signup">
                            <p>Sign up for Us's newsletter by entering your info below:</p>
                            <form action="">
                                <input type="text" placeholder="Email Address"><input type="text" placeholder="First Name"><input type="text" placeholder="Last Name">
                                <button>SIGN ME UP&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video">
                <iframe src="https://www.youtube.com/embed/vEut191yn6U?feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/3EaMFuvc8nQ?feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/IwOFP8Gyo3w?start=4&feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/7m34R8Gk9Og?feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/lNcehjOCSsE?start=3&feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/BBKegojoECs?feature=oembed" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/ENYuxiko8FE" frameborder="0"></iframe>
                <iframe src="https://video.pbs.org/viralplayer/2365502545" frameborder="0"></iframe>
                <div class="videoWrapper">

                </div>
                <div class="videoWrapper"></div>
                <iframe width="572" height="322" src="https://www.youtube.com/embed/mbkwaTZpcZM" frameborder="0"></iframe>
           
            </div>
        </div>
        <div class="footer">
            <div class="footer-image">
                <img src="{% static 'images/footer_left.png' %}" alt=""><img src="{% static 'images/footer_right.png' %}" alt="">
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Books</a></li>
                    <li><a href="">Videos & Photos</a></li>
                    <li><a href="">Find Us!</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">News & Announcements</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Write To Us</a></li>
                </ul>
                <p><b>©2024 Us Gidwitz | All awesome artwork ©2024 HUGH D’ANDRADE</b></p>
            </div>
        </div>
            
    </div>
    <script src="{% static 'js/videos&photos.js' %}"></script>

{% endblock content %}
