{% extends 'home/base.html' %}
{% block banner %}
    {% load static %}
    <div class="banner">
        <img src="{% static 'images/banner/sun-Photoroom.png' %}" alt="" id="mattroi">
        <img src="{% static 'images/banner/mattrang-Photoroom.png' %}" alt="" id='mattrang'>
        <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayleft">
        {% comment %} <img src="{% static 'images/banner/dainganha.png' %}" alt="" id="dainganha"> {% endcomment %}
        <img src="{% static 'images/banner/dammay-Photoroom.png' %}" alt="" id="dammayright">
        <img src="{% static 'images/banner/damco.png' %}" alt="" id='damco'>
    </div>    
{% endblock banner %}
{% block content %}
{% load static %}
<script>
    function sendSignup() {
        let email = document.getElementById("email").value;
        let first_name = document.getElementById("first_name").value;
        let last_name = document.getElementById("last_name").value;

        fetch("/sending-mail/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, first_name, last_name }),
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message || data.error);
        })
        .catch(error => console.error("Error:", error));
    }
</script>
<link rel="stylesheet" href="{% static 'css/writeadam.css' %}"> 
        <div class="author">
            <h1 style="font-family: Chez Moustache;">WRITE TO US</h1>
        </div>
        <div class="books-content">
            <div class="books-content-bkg">
                <img src="{% static 'images/detail-book-bkg-left.png' %}" alt="">
                <img src="{% static 'images/detail-book-bkg-right.png' %}" alt="">
                <section class="write-to-adam">
                    <h2>Write to Us</h2>
                    <br>
                    <p>For <strong>school visit/appearance requests</strong> please contact the <a href="#">The Booking Biz</a> or fill out their form <a href="">here</a></p><br>   
                    <hr>
                    <br>
                    <p>For <strong>other inquiries</strong> , email <a href="mailto:dinhthai0312@gmail.com">http://theodorescsa.id.vn/</a></p><br>
                    <hr>
                    <br>
                    <p>For <strong>fanmail</strong> , please email <a href="mailto:fandinhthai0312@gmail.com">http://theodorescsa.id.vn/</a></p><br>
                    <p>Sometimes it takes a while for Adam to respond to email, so if you’re a student writing to Adam about a school project, be warned! He might miss your deadline. He certainly missed all of his deadlines when he was in school.</p>
                    <p>If you write to Adam, the return email address you provide will be added to his newsletter. Don’t worry: he only sends out news about twice a year–and you can always unsubscribe!</p>
                    <p>Thank you!</p>
                    <br>
                    <div class="dotted-line"></div>
                </section>
            </div>
            <div class="introduction">
                <div class="all-box">
                    <div class="box">
                        <img src="{% static 'images/news_feed_header.png' %}" alt="">
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">13</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>WALL STREET JOURNAL REVIEW: MAX IN THE HOUSE OF SPIES</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="mar">
                            <div class="day-box">
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">MAR</p>
                                <p style="    font-family: 'Open Sans Condensed', sans-serif;">05</p>
                            </div>
                            <p>
                                <a href="">
                                    <b>MAX IN THE HOUSE OF SPIES - AN INSTANT NYTIMES BESTSELLER!</b>
                                </a>
                                <a href="">
                                    ... <b>READ MORE »</b>
                                </a>
                            </p>
                        </div>
                        <div class="much-more">
                            <p style="font-family:'Open Sans Condensed', sans-serif;"><b>MUCH MORE</b></p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/events_header.png' %}" alt="">
                        <p style="padding-bottom: 270px;">There are no upcoming events at this time</p>
                    </div>
                    <div class="box">
                        <img src="{% static 'images/newsletter_header.png' %}" alt="">
                        <div class="form-signup">
                            <p>Sign up for Adam's newsletter by entering your info below:</p>
                            <form action="">
                                <input type="text" placeholder="Email Address" id="email"><input type="text" placeholder="First Name" id="first_name"><input type="text" placeholder="Last Name" id="last_name">
                                <button onclick="sendSignup()">SIGN ME UP&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-image">
                <img src="{% static 'images/footer_left.png' %}" alt=""><img src="{% static 'images/footer_right.png' %}" alt="">
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Books</a></li>
                    <li><a href="">Videos & Photos</a></li>
                    <li><a href="">Find Us!</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">News & Announcements</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Write To Us</a></li>
                </ul>
                <p><b>©2024 Us Gidwitz | All awesome artwork ©2024 HUGH D’ANDRADE</b></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/writeadam.js' %}"></script> 

{% endblock content %}
